{%- import 'include/basic.html' as basic with context -%}
{%- import 'include/component.html' as c with context -%}
<!DOCTYPE html>
<html lang="en">
<head>
    {{ basic.header('Registration') }}
    {{ _css([
        'vendors/bootstrap-3.1.0/css/bootstrap.min.css',
        'css/base.css',
        'css/registration.css'
    ]) }}
</head>
<body>
    {% include '_public_header.html' %}
    <div class="main container" data-mode="stdby">
        <div class="feedback">
            <div class="avatar"><img/></div>
            <div class="status">Identifying...</div>
        </div>
        <div class="application-form row">
            <div class="col-sm-12">
                <h1>Create a new account</h1>
            </div>
        </div>
        <div class="application-form row">
            <div class="col-md-9">
                <form action="{{ app.path('user.new') }}" method="POST">
                    <div class="row">
                        <div class="col-sm-5">
                            {{ c.input(
                                'username', 'What is your username?',
                                default  = app.settings.default.username,
                                required = true,
                                hint     = 'This is what people refer as you.'
                            ) }}
                            {{ c.input(
                                'name', 'What is your name?',
                                default  =  app.settings.default.name,
                                required = true,
                                hint     = 'Just anything you want to be called.'
                            ) }}
                        </div>
                        <div class="col-sm-7">
                            {{ c.input(
                                'email', 'What is your e-mail address?',
                                kind     = 'email',
                                default  =  app.settings.default.email,
                                required = true,
                                hint     = 'Used for login and just in case we need to communicate with you.'
                            ) }}
                            {{ c.input(
                                'plain_password', 'What is your password?',
                                kind     = 'password',
                                default  =  app.settings.default.password,
                                required = true,
                                hint     = '<a class="btn btn-info btn-xs password-toggle">Show / hide the password</a>'
                            ) }}
                        </div>
                    </div>
                    <p class="actions">
                        <button type="submit" class="btn btn-primary">Sign up</button>
                        or <a href="{{ app.path('authentication') }}">sign in</a>
                    </p>
                </form>
            </div>
            <div class="col-md-3">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h4 class="panel-title">Read this first!</h4>
                    </div>
                    <div class="panel-body">
                        <p>
                            By signing up, you will be assumed to agree to our simple rules:
                        </p>
                        <ol>
                            <li>Be fair and nice with everyone. (Do not abuse the service.)</li>
                            <li>Do not use for illegal activities.</li>
                        </ol>
                        <p>
                            Failing to comply the rules and warnings may lead to service
                            usage suspension. Some cases may lead to criminal investigation.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    login_url = "{{ app.path('authentication') }}";
    gravatar_service_url = "{{ app.path('util.gravatar.url')}}";
    </script>
    {{ _js([
        'vendors/jquery.js',
        'vendors/bootstrap-3.1.0/js/bootstrap.min.js',
        'js/include/form.js',
        'js/include/gravatar.js',
        'js/registration.js'
    ]) }}
</body>
</html>